name: Sync to S3

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/s3-sync.yml
      - linklist.yml
      - images/**
  workflow_dispatch:

env:
  SOURCE_DIR: images
  DEST_PREFIX: blog/friends

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
      - run: aws s3 sync "${{ env.SOURCE_DIR }}" "s3://${{ secrets.S3_BUCKET }}/${{ env.DEST_PREFIX }}/images" --delete
